In [1]:
x = 2
while x < 20:
    print (x)
    x += 2
    if x == 16:
        break

2
4
6
8
10
12
14

In [3]:
int = [ " one ", " two ", "three"]
for num in int:
    print (num)

 one
 two
three

In [20]:
int = [ " one ", " two ", "three"]
for num in int:
    if num == "three":
        break
    print (num)

 one
 two

In [22]:
x = 5
while x < 10:
    print (x)
    x += 1

5
6
7
8
9

In [24]:
x = 0
while x < 10:
    print (x)
    x += 1
    if x == 4:
        break

0
1
2
3

In [26]:
int = [ " one ", " two ", "three"]
for num in int: # for (what you searching) in (where you searching)
    if num == "three":
        break
    print (num)

 one
 two

In [34]:

for i in "python":
    print (i)

p
y
t
h
o
n

In [38]:
for i in range (2,7):
    print (i)

2
3
4
5
6

In [40]:
#the third value in the range is the number to be added to the first value
for i in range (2,10,3):
    print (i)

2
5
8

In [42]:
for i in range (3,17,3):
    print (i)

3
6
9
12
15

In [44]:
colors = ["red","blue","green"]
objects =["table","chair","house"]
for i in colors:
    for j in objects:
        print (i,j)

red table
red chair
red house
blue table
blue chair
blue house
green table
green chair
green house

In [46]:
list_1 = [1,2,3,4,5]
list_2 =[5,4,3,2,1]
for i in list_1:
    for j in list_2:
        print (i,j)

1 5
1 4
1 3
1 2
1 1
2 5
2 4
2 3
2 2
2 1
3 5
3 4
3 3
3 2
3 1
4 5
4 4
4 3
4 2
4 1
5 5
5 4
5 3
5 2
5 1

In [74]:
#f is for formatting in print function.
for i in range (2,10,3):
    for j in range (3,15,2):
        print (f"{i}*{j}=",i*j)

2*3= 6
2*5= 10
2*7= 14
2*9= 18
2*11= 22
2*13= 26
5*3= 15
5*5= 25
5*7= 35
5*9= 45
5*11= 55
5*13= 65
8*3= 24
8*5= 40
8*7= 56
8*9= 72
8*11= 88
8*13= 104

In [84]:
for i in range (2,10,3):
    for j in range (3,15,2):
        print (j, end * ' ')
    print (" ")

NameError: name 'end' is not defined

In [ ]:
# defining function of function