In [1]:
months_list = ['May', 'June', 'July', 'August']
months_list.sort()
months_list

['August', 'July', 'June', 'May']

In [3]:
#reverse function is used to make ascending date, descending or vice versa 
years_list = ['1900', '1905', '1925', '1921']
years_list.sort(reverse= True)
years_list

['1925', '1921', '1905', '1900']

In [15]:
clients_list = ['Kathmandu', 'london', 'new york', 'Lahore']
clients_list.sort(key=str.lower)
clients_list

['Kathmandu', 'Lahore', 'london', 'new york']

In [19]:
num_list = [5,3,-1, -15,100]
num_list.sort(reverse= True)
num_list

[100, 5, 3, -1, -15]

In [21]:
#key = str.upper is used to change string into upper case
clients_list = ['Kathmandu', 'london', 'new york', 'Lahore']
clients_list.sort(key=str.upper)
clients_list

['Kathmandu', 'Lahore', 'london', 'new york']

In [51]:
my_list=[1,2,3]
my_list.reverse()
my_list

[3, 2, 1]

In [49]:
#+ is used for concatenation
list1=(1,2,3)
list2= ("hi","hello")
list12=list1+list2+list1
print(list12)

(1, 2, 3, 'hi', 'hello', 1, 2, 3)

In [53]:
list1=[1,2,3]
list2=["hello","Hey"]
list1.extend(list2)
list1

[1, 2, 3, 'hello', 'Hey']

In [57]:
#python conditionals if, else, elif
# if some condition:
#      code to run if the condition is true

x = 7
if x > 6:
    print ("x is greater than 7")

x is greater than 7

In [63]:
x = 3
if x > 6:
    print ("x is greater than 7")
else:
    print ("x is less than 5")

x is less than 5

In [71]:
age = 20
if age > 18 :
    print (" allowed to vote")
else :
    print (" not allowed to vote")

 allowed to vote

In [79]:
age = 18
if age > 18 :
    print (" allowed to vote")
elif age < 18:
    print (" not allowed to vote")
elif age == 18:
    print ("get citizenship to vote")

get citizenship to vote

In [83]:
# price - 500 - 1000 = 5% discount, 1000 - 5000 = 10%, above 5000 = 15%, below 500 = no discount and calculate
cost_food = 3500
if (cost_food > 500, cost_food < 1000):
    print ("You are eligible to receive a 5% discount")
    discounted_price = cost_food - (5/100 * cost_food)
    print (discounted_price)
elif (cost_food > 1000, cost_food < 5000):
    print ("you are eligible to receive 10% discount")
    discounted_price = cost_food - (10/100 * cost_food)
    print (discounted_price)
elif (cost food > 5000):
    print ("you are eligible to receive 15% discount")
    discounted_price = cost_food - (15/100 * cost_food)
    print (discounted_price)
elif (cost_food < 500):
    print ("no discount")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (481047583.py, line 11)

In [85]:
cost_food = 3500

if 500 < cost_food <= 1000:
    print("You are eligible to receive a 5% discount")
    discounted_price = cost_food - (5 / 100 * cost_food)
    print(discounted_price)

elif 1000 < cost_food <= 5000:
    print("You are eligible to receive a 10% discount")
    discounted_price = cost_food - (10 / 100 * cost_food)
    print(discounted_price)

elif cost_food > 5000:
    print("You are eligible to receive a 15% discount")
    discounted_price = cost_food - (15 / 100 * cost_food)
    print(discounted_price)

else:
    print("No discount")

You are eligible to receive a 10% discount
3150.0